* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.header-con {
    display: flex;
    justify-content: space-between;
    padding: 10px;
    background: linear-gradient(90deg,rgb(210, 180, 185), #fc838c 30%);
}

ul {
    display: flex;
    align-items: center;
}

ul li {
    list-style: none;
    color: #fff;
    margin-left: 20px;
}

.text-con {
    color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 22px;
    
}
.text-con h3{
    font-style: italic;
    font-weight: normal;
    font-family:sans-serif;
}
.text-con i {
    margin-left: 90px;
    margin-top: 6px;
}

.navigation {
    min-height: 100%;
    width: 280px;
    background: url("https://images.unsplash.com/photo-1466442929976-97f336a657be?q=80&w=2787&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-color: #020b18e0;
    background-blend-mode: overlay;
    color: #fff;
    display: flex;
    flex-direction: column;    
}
i{
    cursor: pointer;
}
.nav-btn {
    padding: 10px;
}

.nav-btn li {
    list-style: none;
    display: flex;
}

.nav-btn li a {
    text-decoration: none;
    color: #ffffff8e;
    margin-left: 10px;
    transition: all 0.1s ease-in;
    padding: 10px;
}
.container{
    display: flex;
    flex-direction: column;
    width: 100%;
}
.navigation .nav-btn i {
    margin-right: 5px;
    font-size: 16px;
    color: rgb(200, 194, 194);
}

.nav-btn a:hover {
    cursor: pointer;
    background-color: rgba(128, 128, 128, 0.236);
    color: white;
    width: 100%;
}
.active{
    cursor: pointer;
    background-color: rgba(128, 128, 128, 0.236);
    color: #ffff;
    width: 100%;
}
.nav-btn h3 {
    color: #ffffffbe;
    font-weight: normal;
    font-size: 16px;
}

#i {
    margin-left: 5px;
}

#search {
    padding: 5px;
    background-color: rgb(255, 108, 108);
    border-radius: 30px;
    cursor: pointer;
}

.wrapper {
    display: flex;
}
.text{
    align-items: center;
    margin-left: 20px;
}
main {
    display: flex;
    width: 100%;
}

.main {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;
    /* box-shadow: 0px 0px 3px gray; */
    padding: 10px;
    margin-bottom: 30px;
}
.text p{
    color: rgba(0, 0, 0, 0.342);
}
#car {
    margin-left: 10px;
    margin-right: 10px;
    color: pink;
    box-shadow: 0px 0px 3px gray;
    font-size: 20px;
    padding: 10px;
}

.main h2 {
    font-weight: normal;
    color: rgba(0, 0, 0, 0.64);
}

.heading {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.btn-main {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.btn-main button {
    border: none;
    background-color: #49afe8;
    padding: 10px;
    border-radius: 5px;
    color: white;
    font-weight: 500;
    cursor: pointer;
}

#fvt {
    font-size: 12px;
    margin-right: 20px;
    background-color: #4c5256;
    border-radius: 5px;
    align-items: center;
    padding: 10px;
    border-radius: 5px;
    color: white;
    font-weight: 500;
    cursor: pointer;
}

.grid {
    display: grid;
    /* grid-template-columns: 1fr 1fr; Two equal columns */
    grid-template-columns: 48% 48%;
    gap: 20px;
    margin: 0 auto;
    padding: 20px;

}
.grid .grid-box{
    box-shadow: 0px 0px 5px gray;
    padding: 10px;
    border-radius: 5px;
}

.btext h4 {
    font-weight: normal;
}

.btext {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid rgba(128, 128, 128, 0.5);
}

.btext .tab {
    background-color: #113c79;
    color: white;
    padding: 4px;
    border-radius: 4px;
    margin: 10px;
    cursor: pointer;
}

.sub {
    display: flex;
    align-items: center;
}

.sub h4 {
    font-size: 24px;
    font-weight: normal;
    color: rgba(0, 0, 0, 0.5);
}

.sub p {
    font-size: 14px;
    color: rgba(128, 128, 128, 0.705);
    margin-left: 10px;
}

.tab2 {
    color: #113c79;
    cursor: pointer;
    padding: 4px;
    border-radius: 4px;
    margin: 10px;
    transition: all 0.1s ease-in;
}
.tab2:hover{
    background-color: #113c79;
    color: white;
}

.graph {
    display: grid;
    grid-template-columns: auto auto;
    grid-gap: 20px;
}

.tabb {
    display: flex;
    align-items: center;
}

.line1 {
    width: 100%;
    background: linear-gradient(90deg, red 70%, rgba(112, 111, 111, 0.295) 70%);
    height: 6px;
    border-radius: 90px;
}

.line2 {
    width: 100%;
    background:linear-gradient(90deg, rgb(0, 255, 13) 16%, rgba(112, 111, 111, 0.295) 43%);
    height: 6px;
    border-radius: 90px;
}

.line3 {
    width: 100%;
    background: linear-gradient(90deg, rgba(0, 4, 255, 0.74) 71%, rgba(112, 111, 111, 0.295) 70%);
    height: 6px;
    border-radius: 90px;
}

.line4 {
    width: 100%;
    background: linear-gradient(90deg, rgba(218, 58, 58, 0.658) 70%, rgba(112, 111, 111, 0.295) 70%);
    height: 6px;
    border-radius: 90px;
}
.fa-rocket{
    color: #88e9cc;
}
.image {
    display: flex;
    flex-direction: column;
    align-items: center; /* Centers the image vertically */
}
.image img{
    width: 100%;
}
.im-text{
    text-align: center;

    margin: 10px auto;
}
.im-text p{
    font-size: 14px;
    color: rgba(128, 128, 128, 0.719);
}
.im-text i,.span{
    color: #dd5600;
}
.sub-chart{
    display: grid;
    grid-template-columns: 49% 49%;
    gap: 10px;
}
.report{
    background-color: #29cbe9;
    border: 1px solid rgba(0, 0, 0, 0.134);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: #fff;
    margin-bottom: 10px;
    margin-left: 10px;
}

.report .chart-text p{
    color: rgba(255, 255, 255, 0.654);
    margin-bottom: 10px;

}
.report-2{
    background-color: #4a4576;
}
.report-3{
    background-color: #16a86c;
}
.report-4{
    background-color: #ff1d4f;
}

.sub-text{
    display: flex;
    align-items: center;
    justify-content: center;
}
.sub-text p{
    text-align: center;
}
#gear, #desk, .fa-graduation-cap, #gear2 {
    background-color: #fff;
    padding: 10px;
    color: #29cbe9; /* default color */
    border-radius: 50px;
    font-size: 30px;
}
.fa-graduation-cap{
    color: white;
}
.report i{
    margin-bottom: 10px;
}
#gear2 {
    color: #fff;
    background-color: #ffc6bc;
}

#desk {
    color: #feafad;
}

.fa-graduation-cap {
    background-color: #344648;
}
.chart-text {
    text-align: center;
}
.t-text{
    margin-bottom: 10px;
}

/* ----TRADE _ CSSS ---  */
.trade{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.sub-trade{
    background-color: #fff;
    color: black;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    box-shadow: 0px 0px 7px gray;
    border-radius: 10px;
    margin: 0 10px;
}
.trade1,.trade2{
    width: 100%;
}
.trade3{
    width: 100%;
}
.trade-text{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 10px;
}
.fa-gear{
    background-color: #e3eed7;
    padding: 10px;
    color:#293a5f ; /* default color */
    border-radius: 50px;
    font-size: 30px;
    margin-top: 10px;
}
.fa-laptop-file{
    background-color: #f4d2d3;
    padding: 10px;
    color:#c71c22 ; 
    border-radius: 50px;
    font-size: 30px;
    margin-top: 10px;
}
.icon-text p{
    color: #73a839;
}
.img img{
    width: 100%;
}
.t-text{
    color: #c71c22;
    display: flex;
    align-items: center;
}
.t-text p{
    text-align: center;
}

.fa-heart{
    background-color: #f4d2d3;
    padding: 10px;
    color:#333333a0 ; 
    border-radius: 50px;
    font-size: 30px;
    margin-top: 10px;
}
.lg-sub{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

}
.lg-sub .img{
    width: 100%;
}

.lg-sub .spa ,#la{
    color: #c71c22;
    font-weight: bold;
}
.lg-text{
    margin-bottom: 10px;
}
.sm-text{
    margin-bottom: 10px;
}

